*{
    margin: 0px;
    border: none;
}
#caja{
    display: flex;
    background-color: black;
    justify-content: center;
    border: none;
    margin: none;
    /* background-color: currentColor; */
}

.calculadora{
    display: flex;
    justify-content: center;
    background-image: url(fondo5.jpg);
    width: 539px;
    height: 637px;
    /* border-color: darkkhaki; */
    border-radius: 30px;
}  

.calculadora td button{
    display: block;
    width: 50px;
    font-size: 31px;
    height: 60px;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
    /* font-family: cursive; */
    background-color: #89ff007a;
    border-radius: 10px;
    transition-property: height;
}  

.calculadora td button:hover{
    height:62px;
    background-color:#88ff00b9;
}


#resul{
    display: block;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
    width: 280px;
    height: 100px;
    line-height: 100px;
    background-color:wheat;
    border-color: black;
    border-radius: 25px;
    font-family: 'Lobster', cursive;

}  

.calculadora td  ::after {
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    line-height: 8.34em;
    transform: scale(0, 0);
  }
  .calculadora td  :hover::after {
    transform: scale(1, 1);
  }